/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #79c3ff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    position: relative;
    width: 100%;
    min-height: 266px; /*May need to change later*/
    max-width: 500px;
    color: #fff;
    background-color: #0074d3;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container div {
    position: relative;
}

#location {
    padding: 5px;
    border: none;
    border-radius: 15px;
}

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.list-item {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

#spinner-container {
    pointer-events: none;
}