/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdcdcd;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-width: 400px;
  color: #fff;
  background: linear-gradient(140deg,rgba(42, 123, 155, 1) 20%, rgba(87, 199, 133, 1) 100%);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container div {
  position: relative;
}

form {
  display: flex;  
  align-items: center;
  gap: 5px;
}

input#location {
  padding: 5px;
  border: none;
  border-radius: 15px;
}

::placeholder {
  color: #919191;
}

button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button svg {
  width: 25px;
  height: 20px;
}

select {
  color: #00f;
  border: none;
}

#weather {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
}

.list-item {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

#spinner-container {
  pointer-events: none;
}